ENVIRONMENT=
VERSION=
PORT=

# outlook
CLIENT_ID=
TENANT_ID=
SECRET=
OUTLOOK_EMAIL=

# whatsapp
TEST_NUMBER_ID=
PHONE_NUMBER_ID=
WHATSAPP_TOKEN=
IMAGE_URL=
WELCOME_TEMPLATE=
APPOINTMENT_TEMPLATE=
WHATSAPP_WEBHOOK_TOKEN=

#google 
GOOGLE_PROJECT_ID=
SECRET_MANAGER=
# firestore
DATABASE_ID=